h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

p{
    text-align: justify;
    text-indent: 10px;
}

.nav-link{
    text-transform: uppercase;
}

h3::first-letter{
    text-transform: uppercase;
}

img{
    width:100%;
    height: auto;
}

.card img{
    max-height: 102px;
}

.card h4{
    text-transform: uppercase;
    font-size: 15px;
}

.row{
    margin-bottom: 25px;
}

.btn{
    font-size: 12px;
}